<app-menu></app-menu>
<div class="bg-white min-h-screen">
  <div class="container mx-auto px-4 py-5 flex flex-wrap justify-between items-center">
    <button
      class="bg-cyan-700 p-3 text-white text-sm lg:text-lg mt-5 lg:mt-0 rounded-lg flex items-center"
      (click)="volver()">
      Volver
    </button>
  </div>

  <div class="container mx-auto px-4 pt-5">
    <p class="text-2xl lg:text-4xl text-cyan-700 font-semibold text-center lg:text-left">
      Datos de la orden:
    </p>
  </div>

  <div class="container mx-auto px-4 py-5 grid gap-6 lg:grid-cols-2 xl:grid-cols-3">
    <div
      *ngFor="let item of productos"
      class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col lg:flex-row p-5">
      <img
        [src]="baseUrl + item.img"
        alt="Imagen del producto"
        class="w-full lg:w-40 rounded-lg object-cover mb-4 lg:mb-0">
      <table class="w-full lg:ml-5 text-center text-sm lg:text-base">
        <tr>
          <td colspan="3" class="pb-2">
            <p class="font-semibold text-gray-800">{{ item.descripcion }}</p>
          </td>
        </tr>
        <tr>
          <td class="pb-2">
            <p class="text-gray-600"> <strong>Unidades:</strong>  {{ item.cantidad_piezas }}</p>
          </td>
          <td colspan="2" class="pb-2">
            <p class="text-gray-600"><strong>Precio:</strong> {{ item.precio }} $</p>
          </td>
        </tr>
        <tr>
          <td *ngIf="item.genero === 'V'" class="pb-2">
            <p class="text-gray-600"><strong>Género:</strong> Varón</p>
          </td>
          <td *ngIf="item.genero === 'H'" class="pb-2">
            <p class="text-gray-600"><strong>Género:</strong> Hembra</p>
          </td>
          <td class="pb-2">
            <p class="text-gray-600"><strong>Color:</strong> {{ item.descripcion_color }}</p>
          </td>
          <td class="pb-2">
            <p class="text-gray-600"><strong>Cant:</strong> {{ item.cantidad }}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
