<div class="scroll-container bg-white" style="width: 600px;">
  <div style="display: flex; justify-content: flex-end;" class="p-4">
    <button mat-icon-button (click)="cerrar('cierre')" [tabIndex]="1" class="text-black font-bold">
      X
    </button>
  </div>

  <h1 class="flex justify-center text-cyan-700 font-bold">Agregar nuevo usuario</h1>

  <div class="flex justify-center items-center h-full">
    <form [formGroup]="usuariosForm" class="form-grid">
      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Cédula:</label>
        <input type="text" [formControlName]="'cedula'" maxlength="9"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2 w-full" minlength="5">
        <p class="text-red-500"
          *ngIf="usuariosForm.get('cedula')?.hasError('required') && usuariosForm.get('cedula')?.touched">
          Campo requerido</p>
          <p class="text-red-500"
          *ngIf="usuariosForm.get('cedula')?.hasError('minlength') && usuariosForm.get('cedula')?.touched">
          La cédula solicita minimo 5 caracteres</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Primer nombre:</label>
        <input type="text" [formControlName]="'primer_nombre'" maxlength="50" (input)="onText($event)"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="usuariosForm.get('primer_nombre')?.hasError('required') && usuariosForm.get('primer_nombre')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Segundo nombre:</label>
        <input type="text" [formControlName]="'segundo_nombre'" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ\s]+"
          (input)="onText($event)" maxlength="50"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="usuariosForm.get('segundo_nombre')?.hasError('required') && usuariosForm.get('segundo_nombre')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Apellido:</label>
        <input type="text" [formControlName]="'primer_apellido'" (input)="onText($event)" maxlength="50"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="usuariosForm.get('primer_apellido')?.hasError('required') && usuariosForm.get('primer_apellido')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Fecha de nacimiento:</label>
        <input type="date" class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2 pr-8"
          [formControlName]="'fecha_nacimiento'" min="1920-01-01" max="2023-12-31">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <p class="text-red-500"
          *ngIf="usuariosForm.get('fecha_nacimiento')?.hasError('required') && usuariosForm.get('fecha_nacimiento')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Telefono:</label>
        <input type="tel" [formControlName]="'telefono'"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2"
          (input)="onInput($event)"
          maxlength="11" minlength="10">
        <p class="text-red-500"
          *ngIf="usuariosForm.get('telefono')?.hasError('required') && usuariosForm.get('telefono')?.touched">
          Campo requerido</p>
          <p class="text-red-500"
          *ngIf="usuariosForm.get('telefono')?.hasError('minlength') && usuariosForm.get('telefono')?.touched">
          El telefono debe poseer minimo 10 digitos</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Correo electrónico:</label>
        <input type="text" [formControlName]="'correo'"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
          <p class="text-red-500"
          *ngIf="usuariosForm.get('correo')?.hasError('required') && usuariosForm.get('correo')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Usuario:</label>
        <input type="text" [formControlName]="'usuario'"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
          <p class="text-red-500"
          *ngIf="usuariosForm.get('usuario')?.hasError('required') && usuariosForm.get('usuario')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Clave:</label>
        <input [type]="showPassword ? 'text' : 'password'" [formControlName]="'clave'"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2" minlength="5" maxlength="12">
          <p class="text-red-500"
          *ngIf="usuariosForm.get('clave')?.hasError('required') && usuariosForm.get('clave')?.touched">
          Campo requerido</p>
          <p class="text-red-500"
          *ngIf="usuariosForm.get('clave')?.hasError('minlength') && usuariosForm.get('clave')?.touched">
          La clave debe ser de minimo 5 caracteres</p>
          <div class="absolute inset-y-0 right-0 flex items-center pr-3">
            <button type="button" class="focus:outline-none text-slate-950" (click)="toggleShowPassword()">
              <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </button>
          </div>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Confirmar clave:</label>
        <input type="password" [formControlName]="'clave2'"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2" minlength="5" maxlength="12">
          <p class="text-red-500"
          *ngIf="usuariosForm.get('clave2')?.hasError('required') && usuariosForm.get('clave')?.touched">
          Campo requerido</p>
          <p class="text-red-500"
          *ngIf="usuariosForm.get('clave2')?.value !== usuariosForm.get('clave')?.value">
          Las claves no coinciden</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Rol:</label>
        <select name="" [formControlName]="'rol'"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
          <option value="Vendedor">Vendedor</option>
          <option value="Admin">Admin</option>
        </select>
        <p class="text-red-500"
          *ngIf="usuariosForm.get('rol')?.hasError('required') && usuariosForm.get('rol')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <button type="button" class="bg-cyan-700 text-white rounded-md text-lg" (click)="agregarEmpleado()">
          Agregar nuevo empleado
        </button>
      </div>
    </form>
  </div>
</div>
<style>
  .scroll-container {
    max-height: 700px;
    /* Establece la altura máxima */
    overflow-y: auto;
    /* Activa el desplazamiento vertical si el contenido excede la altura máxima */
    scroll-padding: 10%;
    /* Establece el relleno del área de desplazamiento */
    padding: 20px;
    /* Añade espacio dentro del contenedor */

  }

  .responsive-container {
    width: 100%;
    max-width: 1500px;
    /* o el ancho máximo deseado */
    min-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    /* Espacio a los lados del contenedor */
  }
</style>
