<div class="scroll-container bg-white" style="width: 600px;">
  <div style="display: flex; justify-content: flex-end;" class="p-4">
    <button mat-icon-button (click)="cerrar('cierre')" [tabIndex]="1" class="text-black font-bold">
      X
    </button>
  </div>

  <h1 class="flex justify-center text-cyan-700 font-bold">Editar usuario</h1>

  <div class="flex justify-center items-center h-full">
    <form [formGroup]="productosForm" class="form-grid">
      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Código de producto:</label>
        <input type="text" [formControlName]="'cod_producto'" maxlength="100"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2 text-gray-500" readonly>
        <p class="text-red-500"
          *ngIf="productosForm.get('cod_producto')?.hasError('required') && productosForm.get('cod_producto')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Descripción</label>
        <input type="text" [formControlName]="'descripcion'" maxlength="100"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('descripcion')?.hasError('required') && productosForm.get('descripcion')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Cantidad de piezas</label>
        <input type="number" [formControlName]="'cantidad_piezas'" (input)="onInput($event)"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('cantidad_piezas')?.hasError('required') && productosForm.get('cantidad_piezas')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Precio:</label>
        <input type="text" [formControlName]="'precio'" (input)="onInputChange($event, 'precio')"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('precio')?.hasError('required') && productosForm.get('precio')?.touched">
          Campo requerido
        </p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Total:</label>
        <input type="text" [formControlName]="'total'" (input)="onInputChange($event, 'total')"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('total')?.hasError('required') && productosForm.get('total')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Precio con envío:</label>
        <input type="text" [formControlName]="'precio_con_envio'" (input)="onInputChange($event, 'precio_con_envio')"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('precio_con_envio')?.hasError('required') && productosForm.get('precio_con_envio')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Total con envío</label>
        <input type="text" [formControlName]="'total_con_envio'" (input)="onInputChange($event, 'total_con_envio')"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('total_con_envio')?.hasError('required') && productosForm.get('total_con_envio')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Precio distribuidor:</label>
        <input type="text" [formControlName]="'precio_dist'" (input)="onInputChange($event, 'precio_dist')"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('precio_dist')?.hasError('required') && productosForm.get('precio_dist')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Total distribuidor:</label>
        <input type="text" [formControlName]="'total_dist'" (input)="onInputChange($event, 'total_dist')"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2">
        <p class="text-red-500"
          *ngIf="productosForm.get('total_dist')?.hasError('required') && productosForm.get('total_dist')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <label class="mb-1">Detalle</label>
        <textarea [formControlName]="'detalle'" maxlength="150" (input)="onText($event)"
          class="h-20 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-2"></textarea>
        <p class="text-red-500"
          *ngIf="productosForm.get('detalle')?.hasError('required') && productosForm.get('detalle')?.touched">
          Campo requerido</p>
      </div>

      <div class="flex flex-col mb-4 w-80">
        <button type="button" class="bg-cyan-700 text-white rounded-md text-lg" (click)="actualizarProducto()">
          Actualizar datos
        </button>
      </div>
    </form>
  </div>
</div>
<style>
  .scroll-container {
    max-height: 700px;
    /* Establece la altura máxima */
    overflow-y: auto;
    /* Activa el desplazamiento vertical si el contenido excede la altura máxima */
    scroll-padding: 10%;
    /* Establece el relleno del área de desplazamiento */
    padding: 20px;
    /* Añade espacio dentro del contenedor */

  }

  .responsive-container {
    width: 100%;
    max-width: 1500px;
    /* o el ancho máximo deseado */
    min-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    /* Espacio a los lados del contenedor */
  }
</style>
