<app-menu></app-menu>

<div class="container pl-40 pt-20 ml-36 border-2 grid grid-cols-2 gap-4">
  <div class="w-full">
    <p class="text-4xl text-cyan-700 font-semibold">{{producto?.descripcion}}</p>

    <p class="mt-20 text-2xl">Precio unitario: {{producto?.precio}} $</p>
    <p class="mt-20 text-2xl">Cantidad de piezas por empaque: {{producto?.cantidad_piezas}}</p>

    <div class="flex items-center">
      <p class="mt-20 mr-4 text-2xl">Seleccionar género:</p>
      <input type="radio" id="hembra" name="genero" value="hembra"
        (click)="consultarColores(producto?.cod_categoria, 'F')" class="ml-20">
      <label for="hembra" class="text-2xl mr-4">Hembra</label>
      <input type="radio" id="varon" name="genero" value="varon"
        (click)="consultarColores(producto?.cod_categoria, 'M')">
      <label for="varon" class="text-2xl">Varón</label>
    </div>
    <div class="flex items-center">
      <p class="mr-4 text-2xl">Seleccionar colores:</p>
      <select name="colores" id="colores"
        class="h-10 bg-white border-slate-300 ml-20 hover:border-cyan-700 rounded-md border-2"
        style="max-width: 300px; min-width: 300px;" (change)="nuevoColor($event)">
        <option></option>
        <option *ngFor="let option of listaColores" [value]="option.value"> {{option.label}}</option>
      </select>
    </div>

    <div *ngIf="colores.length != 0" class="text-2xl mt-5">
      <div *ngFor="let item of colores" class="flex flex-box" style="max-width: 300px;">
        <p><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
          </svg>
          {{item.label}}</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>

      </div>
    </div>
  </div>

  <div class="w-full border-2">
    <button class="bg-cyan-700 rounded-lg text-white w-20">Finalizar orden</button>
    <img src="../../../assets/catalago/prueba.jpg" alt="Producto" class="w-full h-auto">
  </div>
</div>
