<app-menu></app-menu>
<div class="bg-white min-h-screen">
  <!-- Contenedor superior -->
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center p-5 space-y-4 md:space-y-0">
    <button class="bg-cyan-700 px-4 py-2 text-white text-sm md:text-lg rounded-2xl flex items-center h-10"
            (click)="visualizarDatosCliente()">
      Datos del cliente
    </button>
    <button class="bg-green-700 px-4 py-2 text-white text-sm md:text-lg rounded-2xl flex items-center h-10"
            (click)="finalizarOrden()">
      Finalizar orden
    </button>
    <button class="bg-red-700 px-4 py-2 text-white text-sm md:text-lg rounded-2xl flex items-center h-10"
            (click)="cancelarOrden()">
      Cancelar orden
    </button>
  </div>

  <!-- Título de datos -->
  <div class="container mx-auto px-5 pt-5">
    <p class="text-xl md:text-2xl lg:text-4xl text-cyan-700 font-semibold text-center md:text-left">
      Datos de la orden:
    </p>
  </div>

  <!-- Lista de productos -->
  <div class="container mx-auto px-5 py-5 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
    <div class="bg-white shadow-xl rounded-lg p-4 flex flex-col sm:flex-col md:flex-row items-center" *ngFor="let item of productos">
      <img [src]="baseUrl + item.img" alt="Imagen del producto" class="w-32 h-32 md:w-40 md:h-40 rounded-md mb-4 md:mb-0">
      <div class="flex flex-col md:ml-5">
        <table class="w-full text-sm md:text-base min-w-80">
          <tr>
            <td colspan="3" class="text-center font-semibold">{{ item.descripcion_producto }}</td>
          </tr>
          <tr>
            <td class="border p-2">Unidades: {{ item.cantidad_piezas }}</td>
            <td colspan="2" class="border p-2">Precio: {{ item.precio }} $</td>
          </tr>
          <tr>
            <td class="border p-2">Género: {{ item.genero }}</td>
            <td class="border p-2">{{ item.color }}</td>
            <td class="border p-2">Cant: {{ item.cantidad }}</td>
          </tr>
        </table>
        <div class="flex space-x-4 mt-4">
          <button (click)="editarOrden(item)" class="text-blue-500 hover:text-blue-700">
            <svg matTooltip="Editar producto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
          </button>
          <button (click)="borrarProd(item)" class="text-red-500 hover:text-red-700">
            <svg matTooltip="Eliminar producto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
