<app-menu></app-menu>
<div class="flex justify-center items-center min-h-screen text-xl">
  <form [formGroup]="ordenForm" class="w-full max-w-4xl px-5">

    <!-- Primera fila -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4 mb-4">
      <div class="flex flex-col">
        <label class="mb-1">Condiciones:</label>
        <select formControlName="Condicion"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2">
          <option value="" class="pl-6" disabled selected>Seleccione una condición</option>
          <option value="15 días">15 días</option>
          <option value="30 días">30 días</option>
          <option value="Por abonos">Por abonos</option>
          <option value="Distribuidor">Distribuidor</option>
        </select>
        <mat-error *ngIf="ordenForm.get('Condicion')?.touched && ordenForm.get('Condicion')?.hasError('required')" class="text-red-500">
          La condición es requerida.
        </mat-error>
      </div>

      <div class="flex flex-col" *ngIf="ordenForm.get('Condicion')?.value !== 'Distribuidor'">
        <label class="mb-1">Tipo de envío:</label>
        <select formControlName="tipo_envio"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2">
          <option value="" class="pl-6" disabled selected>Seleccione tipo de envío</option>
          <option value="Capital">Capital</option>
          <option value="Nacional">Nacional</option>
        </select>
        <mat-error *ngIf="ordenForm.get('tipo_envio')?.touched && ordenForm.get('tipo_envio')?.hasError('required')" class="text-red-500">
          El tipo de envío es requerido.
        </mat-error>
      </div>
    </div>

    <!-- Segunda fila -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
      <div class="flex flex-col">
        <label class="mb-1">RIF:</label>
        <div class="flex items-center">
          <select formControlName="RIFL"
            class="h-12 w-20 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2">
            <option value="J">J</option>
            <option value="G">G</option>
            <option value="V">V</option>
            <option value="E">E</option>
          </select>
          <input matInput type="text" formControlName="RIF" placeholder="170333337" maxlength="9" minlength="9"
            class="h-12 w-full ml-3 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-4"
            (blur)="consultarCliente()" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
        </div>
        <mat-error *ngIf="ordenForm.get('RIF')?.touched && ordenForm.get('RIF')?.value.length != 9" class="text-red-500">RIF inválido.
        </mat-error>
        <mat-error *ngIf="ordenForm.get('RIF')?.touched && ordenForm.get('RIF')?.hasError('required')" class="text-red-500">
          El RIF es requerido.
        </mat-error>
      </div>

      <div class="flex flex-col">
        <label class="mb-1">Teléfono:</label>
        <input matInput type="tel" formControlName="telefono" placeholder="04120000000" maxlength="11"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-4">
        <mat-error *ngIf="ordenForm.get('telefono')?.touched && ordenForm.get('telefono')?.hasError('required')" class="text-red-500">
          El teléfono es requerido.
        </mat-error>
      </div>
    </div>

    <!-- Tercera fila -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
      <div class="flex flex-col">
        <label class="mb-1">Cliente:</label>
        <input matInput type="text" formControlName="cliente" placeholder="Nombre ejemplo C.A"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-4">
        <mat-error *ngIf="ordenForm.get('cliente')?.touched && ordenForm.get('cliente')?.hasError('required')" class="text-red-500">
          El nombre del cliente es requerido.
        </mat-error>
      </div>

      <div class="flex flex-col">
        <label class="mb-1">Correo electrónico:</label>
        <input matInput type="email" formControlName="email" placeholder="ejemplo@ejemplo.com"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-4">
        <mat-error *ngIf="ordenForm.get('email')?.touched && ordenForm.get('email')?.hasError('required')" class="text-red-500">
          El correo electrónico es requerido.
        </mat-error>
      </div>
    </div>

    <!-- Cuarta fila -->
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-4">
      <div class="flex flex-col">
        <label class="mb-1">Estado:</label>
        <select formControlName="estado"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2">
          <option value="AMAZONAS">AMAZONAS</option>
            <option value="ANZOATEGUI">ANZOATEGUI</option>
            <option value="APURE">APURE</option>
            <option value="ARAGUA">ARAGUA</option>
            <option value="BARINAS">BARINAS</option>
            <option value="BOLIVAR">BOLIVAR</option>
            <option value="CARABOBO">CARABOBO</option>
            <option value="COJEDES">COJEDES</option>
            <option value="DELTA AMACURO">DELTA AMACURO</option>
            <option value="DISTRITO CAPITAL">DISTRITO CAPITAL</option>
            <option value="FALCON">FALCON</option>
            <option value="GUARICO">GUARICO</option>
            <option value="LA GUAIRA">LA GUAIRA</option>
            <option value="LARA">LARA</option>
            <option value="MERIDA">MERIDA</option>
            <option value="MIRANDA">MIRANDA</option>
            <option value="MONAGAS">MONAGAS</option>
            <option value="NUEVA ESPARTA">NUEVA ESPARTA</option>
            <option value="PORTUGUESA">PORTUGUESA</option>
            <option value="SUCRE">SUCRE</option>
            <option value="TACHIRA">TACHIRA</option>
            <option value="TRUJILLO">TRUJILLO</option>
            <option value="YARACUY">YARACUY</option>
            <option value="ZULIA">ZULIA</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label class="mb-1">Calle o Avenida:</label>
        <input matInput type="text" formControlName="calle" placeholder="Calle o Avenida" maxlength="80"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-6">
      </div>
      <div class="flex flex-col">
        <label class="mb-1">Edificio o Local:</label>
        <input matInput type="text" formControlName="edificio" placeholder="Edificio/local" maxlength="80"
          class="h-12 bg-white border-slate-300 hover:border-cyan-700 rounded-md border-2 pl-6">
      </div>
    </div>

    <!-- Botón -->
    <div class="flex justify-center mt-6">
      <button class="bg-cyan-700 p-3 text-white text-md rounded-xl" *ngIf="!existe" (click)="enviarCliente()">
        Continuar
      </button>
    </div>

    <div class="flex justify-center mt-6">
      <button class="bg-cyan-700 p-3 text-white text-md rounded-xl" *ngIf="existe" (click)="continuar()">
        Continuar
      </button>
    </div>
  </form>
</div>
